/**
 *  @file      top-bar.component.scss
 *  @brief     top bar component
 *  @author    Created by Eliott Jaquier, Mikael Juillet
 *  @version   03.01.2024
 */

h1, svg path  {
  background: linear-gradient(67deg, #F24E29 15.58%, #F28929 81.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  margin:1rem;
}
