h1, svg path  {
  background: linear-gradient(67deg, #F24E29 15.58%, #F28929 81.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  margin:1rem;
}
