/**
 *  @file      recipe-card.component.scss             .-
 *  @brief     recipe card component
 *  @author    Created by Eliott Jaquier, Mikael Juillet
 *  @version   03.01.2024
 */

mat-card {
  margin-bottom: 0.5rem;
  &:hover {
    cursor: pointer;
  }
}

mat-card-title {
  font-size: 1rem;
}

#card-image {
  max-width: -webkit-fill-available;
}

#missing-element{
  color: #f44336;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  justify-content: end;
}
