<!--
/**
 *  @file      recipe-card.component.html
 *  @brief     recipe card component
 *  @author    Created by Eliott Jaquier, Mikael Juillet
 *  @version   03.01.2024
 */
-->

<mat-card routerLink="/recipes/{{recipe?.id}}">
  <mat-card-title>{{recipe?.name}}</mat-card-title>
  <img src="/assets/images/default-image-recipe.jpg" *ngIf="recipe?.image == null" alt="Default image of recipe showing ingredients" class="card-image">
  <img [src]="recipe?.image" *ngIf="recipe?.image != null" alt="Default image of recipe showing ingredients" class="card-image">
  <mat-card-content>
    <p>
      {{recipe?.description}}
    </p>
    <div *ngIf="recipe?.missingElements != undefined">
      <div #thenBlock id="missing-element">
        {{recipe?.missingElements}}
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart" color="warn"></mat-icon>
      </div>
    </div>
  </mat-card-content>
</mat-card>
