<div *ngIf="this.isInit && this.isFound">
  <h2>
    {{ recipe.name }}
    <a class="button-icon"  mat-icon-button [routerLink]="['/recipes', recipe.id, 'edit']">
      <mat-icon>edit</mat-icon>
    </a>
    <button class="button-icon" color="warn" mat-icon-button (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </h2>

  <p>{{ recipe.description }}</p>

  <div *ngFor="let element of recipe.elements" id="ingredients-list">
    <div id="ingredients">
      <span>{{ element.amount }}</span>
      <span>{{ element.ingredient.name }}</span>
    </div>
    <mat-divider></mat-divider>
  </div>


  <div *ngIf="recipe.instructions != null">
      <h3><strong>Etapes</strong></h3>
      <ul>
          <li *ngFor="let step of recipe.instructions.split('\n')" class="step">
              {{ step }}
          </li>
      </ul>
  </div>
  <div *ngIf="recipe.instructions == null">
      <h2>Aucunes étapes</h2>
  </div>

</div>
<div *ngIf="!this.isInit">
    <h1>Chargement...</h1>
</div>
<div *ngIf="this.isInit && !this.isFound">
    <h1>Recette non trouvée!</h1>
</div>
