<div *ngIf="this.isInit && this.isFound">
    <h1>{{ recipe.name }}</h1>
    <a [routerLink]="['/recipes', recipe.id, 'edit']">Modifier</a>
    <button (click)="delete()">Supprimer</button>
    <p>
        {{ recipe.description }}
    </p>
    <div *ngIf="recipe.instructions != null">
        <h2>Etapes</h2>
        <ul>
            <li *ngFor="let step of recipe.instructions.split('\n')" class="step">
                {{ step }}
            </li>
        </ul>
    </div>
    <div *ngIf="recipe.instructions == null">
        <h2>Aucunes étapes</h2>
    </div>
    <div>
        <h2>Ingredients list</h2>
        <div *ngFor="let element of recipe.elements">
            {{ element.ingredient.name }}
            {{ element.amount }}
        </div>
    </div>
</div>
<div *ngIf="!this.isInit">
    <h1>Chargement...</h1>
</div>
<div *ngIf="this.isInit && !this.isFound">
    <h1>Recette non trouvée!</h1>
</div>
