/**
 *  @file      recipts-page.component.scss
 *  @brief     recipts page
 *  @author    Created by Eliott Jaquier, Mikael Juillet
 *  @version   03.01.2024
 */

#recipe-not-found {
  text-align: center;
}

#mat-fab {
  right: 16px;
  position: fixed;
  bottom: 96px;
}
