<h1>{{ this.isRecipeSaved ? "Modify a recipe" : "Add a new recipe"}}</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  Title : <input type="text" formControlName="name">
  Description : <textarea formControlName="description"></textarea>
  <button class="button" type="submit">Save</button>
</form>
<div *ngIf="this.isRecipeSaved">
  <h2>Ingredients list</h2>
  <div *ngFor="let element of elements">
    {{ element.ingredient.name }}
    {{ element.amount }}
    <button (click)="editElement(element)">Edit</button>
  </div>
  <button (click)="toggleElementPicker()">Add ingredient</button>
  <app-element-picker *ngIf="elementPickerDisplayed" (onSubmittedElement)="addElement($event)"></app-element-picker>
</div>
