<!--
/**
 *  @file      element-bottom-sheet.component.html
 *  @brief     element bottom sheet
 *  @author    Created by Eliott Jaquier, Mikael Juillet
 *  @version   03.01.2024
 */
-->

<h3>New element in recipe</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  Ingredient :
  <a mat-button (click)="pickerDisplayed=true">{{ ingredient?.name ?? "Sélectionner un ingredient" }}</a>

  <app-ingredients-picker *ngIf="pickerDisplayed" (onSelectedIngredients)="changeIngredient($event)"></app-ingredients-picker>

  <mat-form-field appearance="outline">
    <mat-label>Quantity (gr)</mat-label>
    <input matInput type="number" formControlName="quantity">
  </mat-form-field>
  <button mat-raised-button color="primary" class="button" type="submit">Save</button>
</form>
